*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Aqui van las propiedades padres */
.container {
  background-color: #333;
  height: 30vh;

  display: flex;
  /* Este es el flujo de la caja(flex-flow), como se van a comportar los elementos hijos */
  flex-direction: row; /* Esto es lo que determina la direccion del flex, row-reverse | column | column-reverse */
  flex-wrap: wrap; /* Este nos dice si va abrasar o envolver todos los hijos para hacer un especie de grid */
  justify-content: center;
}

.item {
  border: medium solid #999;
  height: 20%;
  width: 20%;
  background-color: #666;
}
